<h3 align="center">Listing all articles: </h3>
<% @articles.each do|art| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="article-title">
                    <%=art.id%> <%= link_to art.title, article_path(art) %>
                </div>
                <div class="article-body">
                    <%= truncate(art.description, length: 200)%> 
                </div>
                <div class="article-actions">
                <%= link_to "Edit", edit_article_path(art), class:"btn btn-xs btn-primary"%>
                <%= link_to "Delete", article_path(art),    method: :delete,
                                                            data: { confirm: "Delete post?"},
                                                            class:"btn btn-xs btn-danger" %>
                                                            | <%=art.updated_at%>
                </div>
            </div>
        </div>
    </div>
<% end %>



